section.row.hidden-xs.hidden-sm
  h1.h5.center #{description}
  div.col-sm-3
    button(class="btn btn-block btn-primary", data-dfb-category="", data-dfb="platform", onclick="ga('send', 'event', 'Categories', 'Platforms', 'All categories');") <i class="icon-video"></i>&nbsp;All categories
    br
  div.col-sm-3
    button(class="btn btn-block btn-primary", data-dfb-category="languages", data-dfb="platform", onclick="ga('send', 'event', 'Categories', 'Platforms', 'Dev languages');") <i class="icon-video"></i>&nbsp;Dev languages
    br
  div.col-sm-3
    button(class="btn btn-block btn-primary", data-dfb-category="frameworks", data-dfb="platform", onclick="ga('send', 'event', 'Categories', 'Platforms', 'Dev frameworks');") <i class="icon-video"></i>&nbsp;Dev frameworks
    br
  div.col-sm-3
    button(class="btn btn-block btn-primary", data-dfb-category="devtools", data-dfb="platform", onclick="ga('send', 'event', 'Categories', 'Platforms', 'Dev tools');") <i class="icon-video"></i>&nbsp;Dev tools
    br
section.row-fluid.clearfix(data-dfb-url="#{root_url[environment]}api/menu.json", data-dfb-template="menu")
  div.result-status
    h3 Loading...
section.row.hidden-xs.hidden-sm
  != partial("_shared/social_buttons")